---
import Aside from "../components/Aside.astro";
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";

import "../styles/global.css";
import "../styles/utils.css";
---

<MainLayout>
  <div class="grid">
    <Header />
    <main class="layout__main">Ok</main>
    <Aside />
  </div>
</MainLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 357px;
    grid-template-rows: auto auto;
    grid-template-areas:
      "header header"
      "main aside";
    gap: 1rem;
    margin: 0 auto;
    width: clamp(47.125rem, 88vw, 77.5rem);

    margin: 1rem auto;
  }

  .layout__main {
    grid-area: main;
  }
</style>
