---
import AboutMe from "./about/AboutMe.astro";
import Favorites from "./about/Favorites.astro";
import { logos, type LogoKey } from "./icons/LogoLinkMap.ts";

const links = [
  { name: "LinkedIn", logo: "linkedIn" },
  { name: "Instagram", logo: "instagram" },
  { name: "Code Wars", logo: "codewars" },
  { name: "Facebook", logo: "facebook" },
  { name: "Frontend Mentor", logo: "frontendmentor" },
];

function getLogoComponent(name: string) {
  return name.toLowerCase() in logos
    ? logos[name.toLowerCase() as LogoKey]
    : null;
}
---

<aside class="aside layout-aside">
  <!-- NOTE: ABOUT -->

  <!-- TODO: change class name for this parent container -->
  <div class="profile__templates">
    <div class="blurb__bio">
      <p class="blurb__title--primary">
        Frontend Developer | <span class="blurb__title--secondary">artist</span>
      </p>

      <p class="blurb__bio-description">
        Design-focused dev building clean, user-friendly interfaces ☁︎
      </p>

      <ul>
        {
          links.map((link) => {
            const Logo = getLogoComponent(link.logo);
            return (
              <li>
                <a href="/" class="links" rel="noopener noreferrer">
                  {Logo && <Logo />}
                  <small class="link-name">{link.name}</small>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>

    <!-- ABOUT ME -->
    <section class="about section-container">
      <div class="about__card">
        <div class="about__card-header">
          <img class="about__card-folder" src="/about/folder.png" alt="" />
          <span class="about__card-title">unpacked</span>
        </div>

        <div class="about__content">
          <div class="about__nav">
            <ul class="about__nav-icons" aria-hidden="true">
              <li>
                <img
                  class="about__nav-icon"
                  src="/about/globe.png"
                  alt=""
                  role="presentation"
                />
              </li>
              <li><span class="about__nav-separator">|</span></li>
              <li>
                <img
                  class="about__nav-icon"
                  src="/about/link.png"
                  alt=""
                  role="presentation"
                />
              </li>
              <li><span class="about__nav-separator">|</span></li>
              <li>
                <img
                  class="about__nav-icon"
                  src="/about/search.png"
                  alt=""
                  role="presentation"
                />
              </li>
              <li><span class="about__nav-separator">|</span></li>
              <li>
                <img
                  class="about__nav-icon"
                  src="/about/wifi.png"
                  alt=""
                  role="presentation"
                />
              </li>
            </ul>

            <ul class="about__nav-socials">
              <li class="about__nav-social">
                <a
                  href="https://instagram.com/yourhandle"
                  class="social__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  ig
                </a>
              </li>
              <li class="about__nav-social">
                <a
                  href="https://facebook.com/yourhandle"
                  class="social__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  facebook
                </a>
              </li>
              <li class="about__nav-social">
                <a
                  href="https://twitter.com/yourhandle"
                  class="social__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  twt
                </a>
              </li>
            </ul>
          </div>

          <div class="about__content-header">
            <span class="about__content-label">Documents:</span>
            <div class="about__content-directory">
              <span class="about_content-path">
                :) Users/ethanjohnpaguntalan
              </span>
              <span>＜ ＞</span>
            </div>
          </div>

          <div class="about__info">
            <AboutMe />
            <Favorites />
          </div>
        </div>
      </div>
    </section>
  </div>
</aside>

<style>
  .blurb__bio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .blurb__bio ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
  }

  .blurb__bio li a {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    color: #999999;
    text-decoration: none;
  }

  .link-name {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .aside {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
  }

  .layout__aside {
    grid-area: aside;
  }

  .profile__templates {
    gap: 2rem;
    display: grid;
  }

  /* NOTE: HERO */
  .hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  .hero__profile {
    display: flex;
    justify-content: space-between;
  }

  .hero__profile-image-wrapper {
    height: 6.75rem;
    width: 6.75rem;
  }

  .hero__profile-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
  }

  .hero__profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: end;
  }

  .hero__profile-role {
    font-size: 1.125rem;
    font-weight: bold;
  }

  .hero__profile-tags {
    font-size: 0.9375rem;
    font-weight: 500;
    color: white;
  }

  /* NOTE: ABOUT */
  .about {
    background-color: white;
    color: black;
    border-radius: 1.25rem;
  }

  .about__info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .about__card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .about__card-header {
    display: flex;
    gap: 0.5rem;
    padding: 0.375rem 0.5rem;
    background: linear-gradient(
      to bottom,
      #ffffff 0%,
      #eae9e9 75%,
      #c9c7c7 100%
    );
    border: 1.5px solid #999999;
    border-radius: 1rem 1rem 0 0;
  }

  .about__card-folder {
    width: 1.125rem;
    height: 1.125rem;
  }

  .about__card-title {
    font-size: 0.875rem;
    font-weight: bold;
  }

  .about__content {
    border: 1.5px solid #999999;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0 0rem 1rem 1rem;
  }

  .about__content-header {
    display: flex;
    align-items: center;
    font-size: 0.8125rem;
    border: 0.5px solid #bebebe;
    box-shadow: 0 3px 4px -2px #161619a5;
    z-index: 1;
  }

  .about__content-label {
    padding: 0.125rem 0.5rem;
    background-color: #99e5b7;
    font-weight: 600;
  }

  .about__content-directory {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    color: #555555;
  }

  /* ABOUT */
  .about__nav {
    display: flex;
    justify-content: space-between;
    padding: 0.375rem 0.5rem;
    color: hsl(var(--clr-grey-200));
    font-size: var(--fs-300);
    background: linear-gradient(
      to bottom,
      rgba(222, 222, 222, 0.8) 0%,
      #fefefe 49%,
      #f2f2f2 100%
    );
  }
  .about__nav-icons,
  .about__nav-socials {
    display: flex;
  }

  .about__nav-icons {
    align-items: center;
    gap: 0.25rem;
  }

  .about__nav-icon {
    width: 1rem;
    height: 1rem;
  }

  .about__nav-socials {
    gap: 0.5rem;
  }

  .social__link {
    text-decoration: none;
    font-weight: 600;
    color: hsl(var(--clr-dark-800));
  }

  .about__nav-social + .about__nav-social::before {
    content: "|";
    margin-right: 0.25rem;
  }

  /* NOTE FAVS */
</style>
