---
import { logos, type LogoKey } from "../../public/icons/LogoLinkMap.ts";
import { links } from "../data/socialLinks";
import AboutMe from "./about/AboutMe.astro";
import Favorites from "./about/Favorites.astro";

function getLogoComponent(name: string) {
  return name.toLowerCase() in logos
    ? logos[name.toLowerCase() as LogoKey]
    : null;
}
---

<aside class="aside layout__aside">
  <!-- NOTE: ABOUT -->

  <!-- TODO: change class name for this parent container -->
  <section class="profile__templates">
    <div class="blurb__bio">
      <p class="blurb__title--primary">
        Frontend Developer&nbsp;&nbsp;|&nbsp;&nbsp;<span
          class="blurb__title--secondary">artist</span
        >
      </p>

      <p class="blurb__bio-description">
        Design-focused dev building clean, user-friendly interfaces ☁︎ AI has
        speed. I have soul.
      </p>

      <ul>
        {
          links.map((link) => {
            const Logo = getLogoComponent(link.logo);
            return (
              <li>
                <a
                  href={link.url}
                  target="_blank"
                  class="links"
                  rel="noopener noreferrer"
                >
                  {Logo && <Logo />}
                  <small class="link-name">{link.name}</small>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>

    <section class="about section-container">
      <div class="about__card">
        <div class="about__card-header">
          <img class="about__card-folder" src="/about/folder.png" alt="" />
          <span class="about__card-title">unpacked</span>
        </div>

        <div class="about__content">
          <div class="about__nav">
            <ul class="about__nav-icons" aria-hidden="true">
              <li>
                <img
                  class="about__nav-icon"
                  src="/about/globe.png"
                  alt=""
                  role="presentation"
                />
              </li>
              <li><span class="about__nav-separator">|</span></li>
              <li>
                <img
                  class="about__nav-icon"
                  src="/about/link.png"
                  alt=""
                  role="presentation"
                />
              </li>
              <li><span class="about__nav-separator">|</span></li>
              <li>
                <img
                  class="about__nav-icon"
                  src="/about/search.png"
                  alt=""
                  role="presentation"
                />
              </li>
              <li><span class="about__nav-separator">|</span></li>
              <li>
                <img
                  class="about__nav-icon"
                  src="/about/wifi.png"
                  alt=""
                  role="presentation"
                />
              </li>
            </ul>

            <ul class="about__nav-socials">
              <li class="about__nav-social">
                <a
                  href="https://www.instagram.com/dev.ejohn/"
                  class="social__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  ig
                </a>
              </li>
              <li class="about__nav-social">
                <a
                  href="https://www.facebook.com/ethanjohn.paguntalan/"
                  class="social__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  facebook
                </a>
              </li>
              <li class="about__nav-social">
                <a
                  href="https://x.com/ethanjohn_dev"
                  class="social__link"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  twt
                </a>
              </li>
            </ul>
          </div>

          <div class="about__content-header">
            <span class="about__content-label">Documents:</span>
            <div class="about__content-directory">
              <span class="about_content-path">
                :) Users/ethanjohnpaguntalan
              </span>
              <span>＜ ＞</span>
            </div>
          </div>

          <div class="about__info">
            <AboutMe />
            <Favorites />
          </div>
        </div>
      </div>
    </section>
  </section>

  <hr class="styled-hr" />
  <a
    href="https://github.com/dev-ethanjohn/portfolio-astro"
    class="aside__footer"
    target="_blank"
    rel="noopener noreferrer"
  >
    <div class="aside__footer-text">
      <small>Vanilla</small>
      <small>HTML • CSS • JavaScript • Astro</small>
      <small>Built and Designed by Ethan John Paguntalan</small>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      fill="none"
    >
      <path
        d="M13.7276 3.44418L15.4874 6.99288C15.7274 7.48687 16.3673 7.9607 16.9073 8.05143L20.0969 8.58575C22.1367 8.92853 22.6167 10.4206 21.1468 11.8925L18.6671 14.3927C18.2471 14.8161 18.0172 15.6327 18.1471 16.2175L18.8571 19.3125C19.417 21.7623 18.1271 22.71 15.9774 21.4296L12.9877 19.6452C12.4478 19.3226 11.5579 19.3226 11.0079 19.6452L8.01827 21.4296C5.8785 22.71 4.57865 21.7522 5.13859 19.3125L5.84851 16.2175C5.97849 15.6327 5.74852 14.8161 5.32856 14.3927L2.84884 11.8925C1.389 10.4206 1.85895 8.92853 3.89872 8.58575L7.08837 8.05143C7.61831 7.9607 8.25824 7.48687 8.49821 6.99288L10.258 3.44418C11.2179 1.51861 12.7777 1.51861 13.7276 3.44418Z"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </a>
</aside>

<style>
  .blurb__bio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .blurb__bio ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem;
  }

  .blurb__bio li a {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    color: #999999;
    text-decoration: none;
  }

  .link-name {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .aside {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
  }

  .layout__aside {
    grid-area: aside;
    position: sticky;
    top: 6rem;
    align-self: flex-start;
  }

  .blurb__bio li a {
    color: #999999;
    transition: color 0.2s ease-out;
  }

  .blurb__bio li a:hover {
    color: white;
  }

  /* 
  .layout__aside.sticky-top {
    position: sticky;
    align-self: flex-start;
  }

  .layout__aside.sticky-bottom {
    position: sticky;
    top: auto;
    bottom: 0;
    align-self: flex-end;
  } */

  .profile__templates {
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }

  /* NOTE: HERO */
  .hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  .hero__profile {
    display: flex;
    justify-content: space-between;
  }

  .hero__profile-image-wrapper {
    height: 6.75rem;
    width: 6.75rem;
  }

  .hero__profile-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
  }

  .hero__profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: end;
  }

  .hero__profile-role {
    font-size: 1.125rem;
    font-weight: bold;
  }

  .hero__profile-tags {
    font-size: 0.9375rem;
    font-weight: 500;
    color: white;
  }

  /* NOTE: ABOUT */
  .about {
    background-color: white;
    color: black;
    border-radius: 1.25rem;
  }

  .about__info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .about__card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .about__card-header {
    display: flex;
    gap: 0.5rem;
    padding: 0.375rem 0.5rem;
    background: linear-gradient(
      to bottom,
      #ffffff 0%,
      #eae9e9 75%,
      #c9c7c7 100%
    );
    border: 1.5px solid #999999;
    border-radius: 1rem 1rem 0 0;
  }

  .about__card-folder {
    width: 1.125rem;
    height: 1.125rem;
  }

  .about__card-title {
    font-size: 0.875rem;
    font-weight: bold;
  }

  .about__content {
    border: 1.5px solid #999999;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0 0rem 1rem 1rem;
  }

  .about__content-header {
    display: flex;
    align-items: center;
    font-size: 0.8125rem;
    border: 0.5px solid #bebebe;
    box-shadow: 0 3px 4px -2px #161619a5;
    z-index: 1;
  }

  .about__content-label {
    padding: 0.125rem 0.5rem;
    background-color: #99e5b7;
    font-weight: 600;
  }

  .about__content-directory {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    color: #555555;
  }

  /* ABOUT */
  .about__nav {
    display: flex;
    justify-content: space-between;
    padding: 0.375rem 0.5rem;
    color: hsl(var(--clr-grey-200));
    font-size: var(--fs-300);
    background: linear-gradient(
      to bottom,
      rgba(222, 222, 222, 0.8) 0%,
      #fefefe 49%,
      #f2f2f2 100%
    );
  }
  .about__nav-icons,
  .about__nav-socials {
    display: flex;
  }

  .about__nav-icons {
    align-items: center;
    gap: 0.25rem;
  }

  .about__nav-icon {
    width: 1rem;
    height: 1rem;
  }

  .about__nav-socials {
    gap: 0.5rem;
  }

  .social__link {
    text-decoration: none;
    font-weight: 600;
    color: hsl(var(--clr-dark-800));
  }

  .social__link:hover {
    text-decoration: underline;
  }

  .about__nav-social + .about__nav-social::before {
    content: "|";
    margin-right: 0.25rem;
  }

  .aside__footer small {
    display: block;
    margin-bottom: 0.25rem;
  }

  .styled-hr {
    border: none;
    border-top: 1px solid transparent;
    border-image: repeating-linear-gradient(
      to right,
      #555 0 10px,
      transparent 10px 20px
    );
    border-image-slice: 1;
    height: 0;
  }

  .aside__footer {
    color: #999999;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2rem;

    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.25s;
  }

  .aside__footer:hover {
    color: white;
    transform: translateY(-2px);
  }

  .aside__footer small,
  .aside__footer svg {
    color: inherit;
  }

  @media (max-width: 50em) {
    .styled-hr,
    .aside__footer {
      display: none;
    }

    .blurb__bio {
      display: none;
    }

    .aside.layout__aside {
      padding-top: 0.5rem;
    }

    .layout__aside {
      position: static;
    }
  }
</style>
