---

---

<div class="blurb__cta">
  <button class="button button--primary">Contact</button>
  <button class="button button--secondary">Resume</button>

  <a href="#" class="button__icon">
    <svg
      class="button__icon-github"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
    >
      <path
        fill="currentColor"
        d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 003.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 01-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0025.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 015-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 01112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 015 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 004-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z"
      ></path>
    </svg>
  </a>
  <a href="#" class="button__icon">
    <svg
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      class="button__icon-link"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.67858 3.25017C9.48933 3.45327 9.3863 3.72191 9.39119 3.99947C9.39609 4.27704 9.50853 4.54187 9.70483 4.73817C9.90113 4.93446 10.166 5.04691 10.4435 5.0518C10.7211 5.0567 10.9897 4.95367 11.1928 4.76442L12.9785 2.97875C13.2439 2.7133 13.5591 2.50273 13.9059 2.35907C14.2527 2.21541 14.6245 2.14147 14.9999 2.14147C15.3753 2.14147 15.747 2.21541 16.0938 2.35907C16.4407 2.50273 16.7558 2.7133 17.0212 2.97875C17.2867 3.2442 17.4973 3.55934 17.6409 3.90617C17.7846 4.25299 17.8585 4.62472 17.8585 5.00013C17.8585 5.37553 17.7846 5.74726 17.6409 6.09409C17.4973 6.44092 17.2867 6.75605 17.0212 7.0215L13.4499 10.5928C13.1846 10.8585 12.8695 11.0692 12.5226 11.213C12.1758 11.3568 11.804 11.4308 11.4285 11.4308C11.0531 11.4308 10.6813 11.3568 10.3344 11.213C9.98761 11.0692 9.6725 10.8585 9.40716 10.5928C9.20406 10.4036 8.93542 10.3006 8.65786 10.3055C8.38029 10.3104 8.11546 10.4228 7.91916 10.6191C7.72287 10.8154 7.61042 11.0802 7.60553 11.3578C7.60063 11.6354 7.70366 11.904 7.89291 12.1071C8.3572 12.5714 8.9084 12.9398 9.51505 13.1911C10.1217 13.4424 10.7719 13.5717 11.4285 13.5717C12.0852 13.5717 12.7354 13.4424 13.342 13.1911C13.9487 12.9398 14.4999 12.5714 14.9642 12.1071L18.5355 8.53575C19.4732 7.59805 20 6.32624 20 5.00013C20 3.67401 19.4732 2.40221 18.5355 1.4645C17.5978 0.526798 16.326 0 14.9999 0C13.6738 0 12.402 0.526798 11.4642 1.4645L9.67858 3.25017ZM2.97875 17.0212C2.71311 16.7559 2.50238 16.4408 2.3586 16.094C2.21482 15.7471 2.14081 15.3753 2.14081 14.9999C2.14081 14.6244 2.21482 14.2526 2.3586 13.9058C2.50238 13.5589 2.71311 13.2438 2.97875 12.9785L6.55009 9.40716C6.81543 9.14152 7.13053 8.93078 7.47738 8.787C7.82422 8.64322 8.196 8.56922 8.57146 8.56922C8.94693 8.56922 9.31871 8.64322 9.66555 8.787C10.0124 8.93078 10.3275 9.14152 10.5928 9.40716C10.7959 9.59641 11.0646 9.69944 11.3421 9.69454C11.6197 9.68965 11.8845 9.5772 12.0808 9.3809C12.2771 9.1846 12.3896 8.91978 12.3945 8.64221C12.3994 8.36464 12.2963 8.09601 12.1071 7.89291C11.6428 7.42858 11.0916 7.06024 10.485 6.80894C9.87831 6.55764 9.2281 6.4283 8.57146 6.4283C7.91483 6.4283 7.26462 6.55764 6.65798 6.80894C6.05133 7.06024 5.50013 7.42858 5.03584 7.89291L1.4645 11.4642C0.526798 12.402 -9.88034e-09 13.6738 0 14.9999C9.88034e-09 16.326 0.526798 17.5978 1.4645 18.5355C2.40221 19.4732 3.67401 20 5.00013 20C6.32624 20 7.59805 19.4732 8.53575 18.5355L10.3214 16.7498C10.5107 16.5467 10.6137 16.2781 10.6088 16.0005C10.6039 15.723 10.4915 15.4581 10.2952 15.2618C10.0989 15.0655 9.83404 14.9531 9.55647 14.9482C9.27891 14.9433 9.01027 15.0463 8.80717 15.2356L7.0215 17.0212C6.75616 17.2869 6.44106 17.4976 6.09421 17.6414C5.74737 17.7852 5.37559 17.8592 5.00013 17.8592C4.62466 17.8592 4.25288 17.7852 3.90604 17.6414C3.5592 17.4976 3.2441 17.2869 2.97875 17.0212Z"
        fill="white"></path>
    </svg>
  </a>
</div>

<style>
  .blurb__cta {
    display: flex;
    gap: 0.75rem;
    width: 100%;
    height: 2.25rem;
    font-weight: 600;
  }

  .button {
    text-align: center;
    border-radius: 0.5rem;
    width: 100%;
  }

  .button--primary {
    background-color: #303030;
    border: 0.5px solid #ffffff3b;
  }

  .button--secondary {
    background-color: #303030;
    border: 0.5px solid #ffffff3b;
  }

  .button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #303030;
    border: 0.5px solid #ffffff3b;
    border-radius: 0.5rem;
    width: 2.25rem;
    flex-shrink: 0;
  }

  .button__icon-link,
  .button__icon-github {
    height: 1.5rem;
    width: 1.5rem;
  }

  .blurb__cta a:last-child {
    display: none;
  }

  @media (max-width: 50em) {
    .blurb__cta a:last-child {
      display: flex;
    }
  }
</style>
