---
// component import
import MainHead from "./MainHead.astro";

const {
  title = "My Astro Blog",
  description = "All about my thoughts and imagination about programming",
} = Astro.props;

const classes = Astro.props.class ?? Astro.props["class:list"];

// STYLE IMPORT
// import "../styles/global.css";
---

<html lang="en">
  <MainHead {title} {description} />
  <body class=`${classes ?? ""}`>
    <slot />
  </body>
</html>
